/*=======================================================================================
  Reset
=======================================================================================*/
a, abbr, address, article, aside, audio, b, blockquote, body, canvas, caption, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, p, pre, q, samp, section, small, span, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, date, tr, ul, var, video { margin: 0; padding: 0; border: 0; font-size: 100%; vertical-align: baseline; }
article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary { display: block; }
a, ins, del { text-decoration: none; }
blockquote, q { quotes:none; }
ul, ol { list-style: none; }
table { border-spacing: 0; border-collapse: collapse; }
caption, th { text-align: left; }
blockquote:before, blockquote:after, q:after, q:before { content: ""; }


/*=======================================================================================
  Style
=======================================================================================*/

body {
    font: 16px 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
    color: #616464;
    font-weight: 300;
}
a {
    color: #616464;
}

#colorful-line {
    height: 5px;
    width: 100%;
}
#colorful-line span {
    background: #70c4dd;
    width: 33.33%;
    height: 5px;
    display:block;
    float: left;
}
#colorful-line span:nth-child(2){
    background: #d9c673;
}
#colorful-line span:nth-child(3){
    background: #616464;
}

.wrapper {
    width: 960px;
    margin: 25px auto;
}

.wrapper nav {
    float: right;
}
.wrapper nav ul {
    list-style-type: none;
}
.wrapper nav ul li {
    list-style-type: none;
    float: left;
    font-size: 20px;
    margin-left: 45px;
}
.wrapper nav ul li.active {
    color: #00c5ff;
    font-weight: 600;
}

.logo {
    float: left;
}
h1 {
    color: black;
    font-size: 55px;
    font-weight: 300;
    width: 530px;
    float: left;
    margin: 97px 0 0 30px;
    line-height: 100%;
}
h1 strong {
    font-weight: 700;
}

.product {
    margin-top: -35px;
    float: left;
}

.preorder-box {
    width: 360px;
    float: right;
    margin-top: 150px;
    margin-right: 20px;
}
.preorder-box .price {
    float: right;
    width: 120px;
}
.preorder-box .price-tag {
    font-size: 100px;
    font-weight: 600;
    color: black;
}
.preorder-box .currency {
    font-size: 50px;
    font-weight: 300;
    color: black;
}
.preorder-box .desc {
    color: #b2b2b2;
    font-size: 30px;
    font-weight:100;
    text-align:right;
    float: right;
    width: 160px;
    margin: 36px 10px 0 0;
}
.preorder-box a {
    display: block;
    background: #00c5ff;
    color: white;
    font-size: 30px;
    font-weight:300;
    text-align: center;
    border-radius: 5px;
    padding: 15px 0;
    width: 350px;
    margin-left: 30px;
    cursor:pointer;
}

.button {
	margin-top: -220px;
}

.button img, .button1 img {
	margin-right: 50px;
}

#app, #computer {
    margin-top: -50px;
}
#computer {
    margin-top: 100px;
}
#app .phone, #computer .imac {
    float: right;
}
#app .desc, #computer .desc {
    width: 400px;
    float: right;
    text-align: right;
    margin-top: 65px;
    margin-right: 10px;
}
#computer .desc {
    margin-top: 115px;
}
#computer .desc .icon {
    margin-right: -50px;
}
#app .desc h2, #computer .desc h2 {
    color: black;
    font-size: 30px;
    font-weight: 200;
    margin: 20px 0 10px 0;
}
#app .desc p, #computer .desc p {
    line-height:150%;
}

#features {
    margin-top: 60px;
}
#features div {
    width: 320px;
    float: left;
    text-align:center;
}
#features h2 {
    margin: 20px 0px 10px;
    color: black;
    font-size: 30px;
    font-weight: 200;
}
#features p {
    padding: 0 20px;
    line-height:150%;
}

footer {
    width: 100%;
    background: #d9c673;
    color: white;
}
footer .wrapper {
    width: 960px;
    margin: 0px auto;
}
footer .wrapper .hand {
    margin: -290px 50px 0 -170px;
    float: left;
}
footer .wrapper div.menu {
    width: 200px;
    margin: 50px 80px 0 0;
    float: left;
}
footer .wrapper div.menu h3 {
    font-size: 30px;
    font-weight: 100;
    margin-bottom: 20px;
}
footer .wrapper div.menu ul {
    list-style-type: disc;
}
footer .wrapper div.menu ul li {
    margin-bottom:15px;
    line-height: 150%;
}
footer .wrapper div.menu ul li.location {
    list-style: disc url(../i/footer_icon_location.png);
}
footer .wrapper div.menu ul li.phone {
    list-style: disc url(../i/footer_icon_phone.png);
}
footer .wrapper div.menu ul li.mail {
    list-style: disc url(../i/footer_icon_mail.png);
}
footer .wrapper div.menu ul a {
    color: white;
    text-decoration: underline;
}

.cls {
    clear: both;
}

#colorful-line-footer {
    height: 5px;
    width: 100%;
}
#colorful-line-footer span {
    background: #70c4dd;
    width: 33.33%;
    height: 5px;
    display:block;
    float: left;
}
#colorful-line-footer span:nth-child(2){
    background: #fff;
}
#colorful-line-footer span:nth-child(3){
    background: #616464;
}